body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20;
    
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease; 
   
}
nav a:hover {
    border-color: grey; 
    color: gray;
}

article {
    margin: 20px;
}

aside {
    float: right;
    width: 40%;
    padding: 20px;
}

footer {
    background-color: #2f2e2e;
    color: #fff;
    text-align: right;
    padding: 10px;
    clear: both;
}
/* Estilos CSS para el párrafo */
p {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 2px 0; /* Ajusta el espaciado vertical */
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

 /* Estilos CSS para la imagen */
 img {
    display: block;
    margin: 15px auto;
    max-width: 700px;
    height: auto;
}

.logo-img {
    width: 50px; /* Cambiar el tamaño de las imágenes */
    height: 50px;
    border-radius: 50%; /* Hacer las imágenes redondas */
    display: inline-block; /* Colocar en línea (una al lado de la otra) */
    margin-right: 10px; /* Espacio entre las imágenes */
}




form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #242525;
}